@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.page__wrapper {
  width: 320px;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.main-header {
  margin: 0 auto;
  padding: 10px 20px 16px;
  position: relative;
}
.main-header__logo {
  display: block;
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.main-nav__wrapper {
  display: none;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(63px);
}
.main-nav__wrapper--open {
  display: block;
}
.main-nav__toggle {
  background-image: url("../img/burger-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  justify-self: end;
  align-self: center;
  cursor: pointer;
}
.main-nav__toggle--active {
  background-image: url("../img/cross.svg");
  background-position: center;
}
.main-nav__logo {
  justify-self: start;
  align-self: center;
}
.main-nav__list {
  background-color: #ffffff;
}
.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-list__item {
  position: relative;
}
.site-list__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
}
.site-list__link {
  padding: 23px 0;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  display: block;
  text-align: center;
}
.site-list__link:hover {
  opacity: 0.6;
}
.site-list__link:active {
  opacity: 0.3;
}
.main-container {
  flex-grow: 1;
}
.main-container__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
}
.hero {
  background: linear-gradient(to bottom, #68B738 63%, #ffffff 47%);
  padding: 27px 20px 0 20px;
  position: relative;
  z-index: 1;
}
.hero::before {
  background-image: url("../img/index-background.jpg");
  opacity: 0.15;
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.hero__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
}
.hero__description {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.button {
  display: block;
  padding: 10px;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #68B738;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
.food-plan {
  padding: 20px 20px;
}
.food-plan__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.food-plan__item {
  background-color: #f2f2f2;
  padding: 30px 20px 18px 20px;
}
.food-plan__item--slim {
  background-image: url("../img/cat-back.svg");
  background-repeat: no-repeat;
  background-position: 22px 24px;
}
.food-plan__item--pro {
  background-image: url("../img/cat-back-pro.svg");
  background-repeat: no-repeat;
  background-position: 12px 24px;
}
.food-plan__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
.food-plan__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 38px;
  color: #444444;
}
.food-plan__button {
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 50px 4px 0;
  text-align: left;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 10% center;
  display: inline-block;
  position: relative;
}
.food-plan__button:hover {
  background-image: url("../img/arrow-right-big.svg");
  background-position: right center;
  background-color: transparent;
}
.food-plan__button:active {
  background-image: url("../img/arrow-right-big.svg");
  background-position: right center;
  background-color: transparent;
  opacity: 0.3;
}
.food-plan__button::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
  top: 0;
  left: 0;
  transform: translateY(-15px);
}
.advantages {
  padding: 0 20px 50px 20px;
}
.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}
.advantages__item {
  padding-left: 80px;
}
.advantages__item--nutritious {
  background-image: url("../img/nutritious.svg");
  background-repeat: no-repeat;
}
.advantages__item--use {
  background-image: url("../img/use.svg");
  background-repeat: no-repeat;
}
.advantages__item--meals {
  background-image: url("../img/meals.svg");
  background-repeat: no-repeat;
}
.advantages__item--fast {
  background-image: url("../img/fast.svg");
  background-repeat: no-repeat;
}
.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 3px 0;
}
.example {
  padding: 25px 20px 48px;
  background-color: #ebebeb;
}
.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}
.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}
.example-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 34px;
}
.example-info__item {
  padding: 12px 20px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.example-info__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 7px;
}
.example-info__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: none;
  display: block;
  background-color: #ebebeb;
  position: absolute;
  max-width: 77px;
}
.example__total-price {
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}
.slider {
  display: flex;
  flex-direction: column;
}
.slider__control {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.slider__text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}
.slider__slides {
  margin-bottom: 23px;
  position: relative;
}
.slider__before {
  width: 280px;
  height: 232px;
  object-fit: cover;
}
.slider__after {
  position: absolute;
  width: 280px;
  height: 232px;
  z-index: 20;
  top: 0;
  left: 30px;
  display: none;
}
.slider__range {
  margin: 0 auto;
  padding: 0 18px;
}
.slider__scale {
  display: block;
  background-color: #ffffff;
  height: 12px;
  width: 83px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  position: relative;
}
.slider__bar {
  display: block;
  background-color: #68B738;
  width: 35px;
  height: 6px;
  position: absolute;
  border-radius: 6px;
  top: 3px;
  left: 4px;
}
.slider__toggle {
  display: none;
}
.contacts--accent {
  background-color: #f2f2f2;
}
.contacts__wrapper {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}
.contacts__text {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}
.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
.contacts__map {
  display: block;
}
.main-footer {
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 40px 20px 22px;
}
.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo--footer {
  justify-content: center;
  margin-bottom: 52px;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.logo__image {
  margin-right: 56px;
}
.logo__text {
  width: 101px;
  height: 18px;
}
.logo__text--footer {
  width: 128px;
  height: 24px;
}
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
}
.social::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  top: 0;
  left: 0;
  transform: translateY(-20px);
}
.social::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  top: 0;
  left: 0;
  transform: translateY(42px);
}
.social__item:not(:last-child) {
  margin-right: 24px;
}
.social__link {
  display: flex;
}
.social__icon {
  fill: #666666;
}
.social__icon:hover {
  fill: #68B738;
}
.social__icon:active {
  fill: #68B738;
  opacity: 0.3;
}
.copyright__author {
  margin: 0;
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__link:active {
  opacity: 0.3;
}
.copyright__logo {
  fill: #666666;
  display: block;
  width: 27px;
  height: 34px;
}
.copyright__logo:hover {
  fill: #68B738;
}
.copyright__logo:active {
  fill: #68B738;
  opacity: 0.3;
}
.products {
  padding: 27px 20px 25px;
}
.products__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 41px;
  position: relative;
}
.products__title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
  transform: translateY(-27px);
}
.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.products__item {
  padding: 20px 0 25px;
}
.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.product-card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
}
.product-card--all {
  display: flex;
  flex-direction: column;
}
.product-card__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.product-card__title--all {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}
.product-card__details {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.product-card__image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
}
.product-card__button {
  grid-column: -3 / -1;
  grid-row: 3 / 4;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.product-card__button--all {
  background-color: #f2f2f2;
  color: #444444;
}
.product-card__button--all:hover {
  background-color: #ebebeb;
}
.product-card__button--all:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
.product-card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}
.product-card__description--all {
  display: block;
  text-align: center;
  margin-bottom: 21px;
}
.product-card__definition {
  margin: 0;
}
.product-card__content--empty {
  padding-top: 58px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center top;
}
.sideline {
  padding: 25px 20px 0;
  position: relative;
}
.sideline::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
  transform: translateY(-25px);
}
.sideline__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 50px;
  position: relative;
}
.sideline__title::before {
  position: absolute;
  content: "";
  width: 53px;
  height: 2px;
  background-color: #68B738;
  top: 0;
  left: 0;
  transform: translate(247px, 15px);
}
.sideline__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.additional-product {
  padding: 12px 0 20px;
  position: relative;
}
.additional-product::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
}
.additional-product:last-child::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
  transform: translateY(130px);
}
.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
}
.additional-product__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.additional-product__button {
  cursor: pointer;
}
.promo {
  padding: 35px 20px;
  position: relative;
}
.promo__content {
  background-color: #68B738;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.promo__content::before {
  background-image: url("../img/promo.jpg");
  opacity: 0.15;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.promo__content::after {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transform: translate(101px, 60px);
}
.promo__description {
  padding: 187px 60px 43px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 160px;
  margin: 0;
}
.form {
  padding: 27px 20px 32px;
  overflow: hidden;
}
.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 36px;
  position: relative;
}
.form__title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
  transform: translateY(-27px);
}
.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}
.form__field {
  border: none;
  margin: 0;
  padding: 0;
}
.form__field--main {
  margin-bottom: 36px;
}
.form__field--aim {
  margin-bottom: 27px;
  position: relative;
}
.form__field--aim::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
  transform: translateY(-27px);
}
.form__field--aim::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
  transform: translateY(130px);
}
.form__field--contacts {
  margin-bottom: 10px;
  position: relative;
}
.form__field--contacts::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #68B738;
  top: 0;
  left: 0;
  transform: translate(200px, -72px);
}
.form__field--comment {
  margin-bottom: 23px;
  position: relative;
}
.form__field--comment::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #68B738;
  top: 0;
  left: 0;
  transform: translate(140px, -46px);
}
.form__field--additional {
  margin-bottom: 15px;
  position: relative;
}
.form__field--additional::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #68B738;
  top: 0;
  left: 0;
  transform: translate(165px, -46px);
}
.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 12px;
  position: relative;
}
.form__control {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form__control--radio {
  padding-left: 46px;
  margin-bottom: 25px;
}
.form__control--checkbox {
  padding-left: 45px;
  margin-bottom: 25px;
}
.form__radio {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-46px, -5px);
}
.form__radio:hover {
  border-color: #bababa;
}
.form__checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-46px, -5px);
}
.form__checkbox:hover {
  border-color: #bababa;
}
.form__input {
  font-family: "Oswald", sans-serif;
  padding: 12px 0 12px 13px;
  border: 1px solid #e7e7e7;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  flex-grow: 1;
  position: relative;
}
.form__input--comment {
  margin-left: 0;
  padding: 9px 14px;
  color: #444444;
  resize: none;
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
}
.form__input--radio {
  display: none;
}
.form__input--radio:disabled + .form__radio {
  opacity: 0.3;
}
.form__input--radio:checked + .form__radio::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #68B738;
  top: 0;
  left: 0;
  transform: translate(7px, 7px);
}
.form__input--radio:disabled + .form__radio::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #68B738;
  top: 0;
  left: 0;
  transform: translate(7px, 7px);
  opacity: 0.3;
}
.form__input--radio:checked:disabled + .form__radio::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #68B738;
  top: 0;
  left: 0;
  transform: translate(7px, 7px);
  opacity: 0.3;
}
.form__input--checkbox {
  display: none;
}
.form__input--checkbox:disabled + .form__checkbox {
  opacity: 0.3;
}
.form__input--checkbox:checked + .form__checkbox {
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form__input:hover {
  border-color: #cdcdcd;
}
.form__input:focus {
  border: 2px solid #ff8282;
  outline: none;
  padding: 11px 0 11px 12px;
}
.form__input:not(:placeholder-shown):invalid {
  border: 2px solid #444444;
  padding: 11px 0 11px 12px;
}
.form__heading {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 36px;
  position: relative;
  padding: 0;
}
.form__submit-button {
  border: none;
  margin-bottom: 21px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
.form__notice {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: block;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
