.advantages {
  padding: 0 20px 50px 20px;
}

.advantages__wrapper {
  .center(280px);
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.advantages__item {
  padding-left: 80px;

  &--nutritious {
    background-image: url("../img/nutritious.svg");
    background-repeat: no-repeat;
  }

  &--use {
    background-image: url("../img/use.svg");
    background-repeat: no-repeat;
  }

  &--meals {
    background-image: url("../img/meals.svg");
    background-repeat: no-repeat;
  }

  &--fast {
    background-image: url("../img/fast.svg");
    background-repeat: no-repeat;
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 3px 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 45px 30px 47px;
  }

  .advantages__wrapper {
    .center(708px);
  }

  .advantages__title {
    .title-tablet;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 151px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 247px 247px;
    grid-template-rows: 280px 280px;
    gap: 37px 153px;
    counter-reset: section;
  }

  .advantages__item {
    position: relative;
    padding: 0;
  }

  .advantages__item::before {
    counter-increment: section;
    content: "" counter(section) "";
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(112px);
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 1220px;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 80px;
  }

  .advantages__description {
    padding-right: 40px;
  }

  .advantages__title {
    margin-bottom: 72px;
  }
}
