.advantages {
  padding: 0 20px 50px 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.advantages__item {
  padding-left: 80px;

  &--nutritious {
    background-image: url("../img/nutritious.svg");
    background-repeat: no-repeat;
  }

  &--use {
    background-image: url("../img/use.svg");
    background-repeat: no-repeat;
  }

  &--meals {
    background-image: url("../img/meals.svg");
    background-repeat: no-repeat;
  }

  &--fast {
    background-image: url("../img/fast.svg");
    background-repeat: no-repeat;
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 3px 0;
}
