.example {
  padding: 25px 20px 48px;
  background-color: #ebebeb;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}

.example-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 34px;
}

.example-info__item {
  padding: 12px 20px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example-info__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 7px;
}

.example-info__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: none;
  display: block;
  background-color: #ebebeb;
  position: absolute;
  max-width: 77px;
}

.example__total-price {
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}
