.example-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 34px;
}

.example-info__item {
  padding: 12px 20px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
}

.example-info__title {
  .font-oswald();
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 7px;
}

.example-info__subtitle {
  .font-arial();
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: none;
  display: block;
  position: absolute;
  max-width: 77px;
  max-height: 20px;
  background-color: #ebebeb;
}

@media (min-width: @tablet-width) {
  .example-info {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    gap: 42px;
    justify-self: start;
  }

  .example-info__item {
    padding: 15px 30px 10px;
    align-self: start;
  }

  .example-info__title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }

  .example-info__subtitle {
    font-size: 14px;
    line-height: 14px;
    max-width: 130px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(15px, 64px);
    background-color: @white;
  }
}

@media (min-width: @desktop-width) {
  .example-info {
    display: flex;
    margin-bottom: 60px;
    flex-wrap: wrap;
  }

  .example-info__item {
    padding: 15px 30px 10px;
    width: 165px;
  }

  .example-info__subtitle {
    background-color: #ebebeb;
    transform: translate(15px, 64px);
  }
}
