.form {
  .center-mobile;
  padding-top: 30px;
  padding-bottom: 32px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    top: 0;
    left: 0;
    transform: translateY(69px);
  }
}

.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 40px;
  position: relative;
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}

.form__field {
  border: none;
  margin: 0;
  padding: 0;

  &--main {
    margin-bottom: 34px;
  }

  &--aim {
    margin-bottom: 27px;
    position: relative;
  }

  &--aim::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    top: 0;
    left: 0;
    transform: translateY(-27px);
  }

  &--aim::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    top: 0;
    left: 0;
    transform: translateY(130px);
  }

  &--contacts {
    margin-bottom: 10px;
    position: relative;
  }

  &--contacts::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    background-color: @main-color;
    top: 0;
    left: 0;
    transform: translate(200px, -72px);
  }

  &--comment {
    margin-bottom: 23px;
    position: relative;
  }

  &--comment::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    background-color: @main-color;
    top: 0;
    left: 0;
    transform: translate(140px, -46px);
  }

  &--additional {
    margin-bottom: 15px;
    position: relative;
  }

  &--additional::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    background-color: @main-color;
    top: 0;
    left: 0;
    transform: translate(165px, -46px);
  }
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 12px;
  position: relative;
}

.form__control {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &--radio {
    padding-left: 46px;
    margin-bottom: 25px;
  }

  &--checkbox {
    padding-left: 45px;
    margin-bottom: 25px;
  }
}

.form__radio {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-46px, -5px);

  &:hover {
    border-color: #bababa;
  }
}

.form__checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-46px, -5px);

  &:hover {
    border-color: #bababa;
  }
}

.form__input {
  .font-oswald();
  padding: 12px 0 12px 13px;
  border: 1px solid #e7e7e7;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  flex-grow: 1;
  position: relative;

  &--comment {
    margin-left: 0;
    padding: 9px 14px;
    color: #444444;
    resize: none;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
  }

  &--radio {
    display: none;
  }

  &--radio:disabled + .form__radio {
    opacity: 0.3;
  }

  &--radio:checked + .form__radio::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: @main-color;
    top: 0;
    left: 0;
    transform: translate(7px, 7px);
  }

  &--radio:disabled + .form__radio::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: @main-color;
    top: 0;
    left: 0;
    transform: translate(7px, 7px);
    opacity: 0.3;
  }

  &--radio:checked:disabled + .form__radio::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: @main-color;
    top: 0;
    left: 0;
    transform: translate(7px, 7px);
    opacity: 0.3;
  }

  &--checkbox {
    display: none;
  }

  &--checkbox:disabled + .form__checkbox {
    opacity: 0.3;
  }

  &--checkbox:checked + .form__checkbox {
    background-image: url("../img/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__input:hover {
  border-color: #cdcdcd;
}

.form__input:focus {
  border: 2px solid #444444;
  outline: none;
  padding: 11px 0 11px 12px;
}

.form__input:not(:placeholder-shown):invalid {
  border: 2px solid #ff8282;
  padding: 11px 0 11px 12px;
}

.form__heading {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 36px;
  position: relative;
  padding: 0;
  max-width: 187px;
}

.form__submit-button {
  border: none;
  margin-bottom: 21px;
  .font-oswald();
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.form__notice {
  .font-arial();
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: block;
  text-align: center;
}

.form__input-email {
  position: absolute;
  left: calc(100% - 34px);
  color: @black;
  stroke: @black;

  &:hover {
    color: @main-color;
    stroke: @main-color;
  }

  &:not(:placeholder-shown):invalid {
    color: #ff8282;
  }
}

.form__input-phone {
  position: absolute;
  left: calc(100% - 34px);
  color: @black;

  &:hover {
    color: @main-color;
  }
}

.form__input:not(:placeholder-shown):invalid + .form__input-email {
  color: #ff8282;
  stroke: #ff8282;
}

.form__input:not(:placeholder-shown):invalid + .form__input-phone {
  color: #ff8282;
}

@media (min-width: @tablet-width) {
  .form {
    width: 628px;
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 72px;

    &::before {
      display: none;
    }
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .form__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__field--aim {
    padding: 30px 28px;
    border: 1px solid #e7e7e7;
    margin-bottom: 75px;
  }

  .form__field--aim::before {
    display: none;
  }

  .form__field--aim::after {
    display: none;
  }

  .form__heading {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    max-width: none;
  }

  .form__heading--additional {
    margin-bottom: 60px;
  }

  .form__heading::before {
    position: absolute;
    content: "";
    width: 1000%;
    height: 2px;
    background-color: @main-color;
    top: 0;
    transform: translateY(22px);
    right: calc(100% + 40px);
  }

  .form__control {
    margin-bottom: 13px;
  }

  .form__field--main {
    margin-bottom: 58px;
  }

  .form__field--contacts {
    margin-bottom: 50px;
  }

  .form__field--contacts::before {
    transform: translate(540px, -90px);
  }

  .form__field--comment {
    margin-bottom: 62px;
  }

  .form__field--comment::before {
    transform: translate(200px, -90px);
  }

  .form__field--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-bottom: 18px;
  }

  .form__field--additional::before {
    transform: translate(230px, -75px);
  }

  .form__checkbox {
    width: 40px;
    height: 40px;
    transform: translate(-60px, -5px);
  }

  .form__radio {
    width: 40px;
    height: 40px;
    transform: translate(-60px, -5px);
  }

  .form__input--radio:checked + .form__radio::before {
    width: 18px;
    height: 18px;
    transform: translate(10px, 10px);
  }

  .form__input--checkbox:checked + .form__checkbox {
    background-size: 24px 18px;
  }

  .form__input--comment {
    min-height: 174px;
  }

  .form__control--radio {
    padding-left: 60px;
    margin-bottom: 23px;
  }

  .form__control--radio:last-child {
    margin-bottom: 0;
  }

  .form__control--checkbox {
    padding-left: 60px;
    margin-bottom: 42px;
  }

  .form__button-wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  .form__submit-button {
    width: 282px;
    margin: 0;
    font-size: 20px;
    padding: 16px 45px;
  }

  .form__notice {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    .center-desktop;
    padding-top: 73px;
  }

  .form__field-wrapper {
    display: flex;
    gap: 120px;
  }

  .form__field--main {
    flex-grow: 1;
  }

  .form__field--aim {
    flex-grow: 1;
    margin-bottom: 68px;
  }

  .form__field--contacts {
    display: flex;
    gap: 78px;
  }

  .form__control--email {
    flex-grow: 1;
  }

  .form__control--tel {
    flex-grow: 1;
  }

  .form__field--additional {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 68px;
    gap: 80px;
  }

  .form__control--checkbox {
    margin: 0;
  }

  .form__submit-button {
    width: 568px;
    padding: 13px 188px;
  }

  .form__button-wrapper {
    margin-bottom: 12px;
    gap: 82px;
  }

  .form__heading--additional {
    margin-bottom: 65px;
  }

  .form__input-email {
    top: 20px;
    left: 520px;
  }
}
