.main-header {
  margin: 0 auto;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
}

.main-header__logo {
  display: block;
}

@media (min-width: @tablet-width) {
  .main-header {
    padding: 35px 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding: 52px 110px 0;
  }
}
