.title-tablet() {
  font-size: 60px;
  line-height: 60px;
  color: @black;
}

.font-arial() {
  font-family: "Arial", sans-serif;
}

.font-oswald() {
  font-family: "Oswald", sans-serif;
}

.center-mobile {
  width: @mobile-container;
  margin: 0 auto;
}

.center-tablet {
  width: @tablet-container;
  margin: 0 auto;
}

.center-desktop {
  width: @desktop-container;
  margin: 0 auto;
}
