.slider {
  display: flex;
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;
}

.slider__before {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.slider__after {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  margin-left: -2px;
}

.slider__resizer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  z-index: 5;
  height: 100%;
  width: 4px;
  background: #666666;
  touch-action: pan-y;
  border-radius: 2px;
  margin-left: -2px;
}

.slider__resizer::after {
  position: absolute;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: @white;
  margin: 0 0 0 -19px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  cursor: pointer;
}

.slider__resizer:hover::after {
  background-image: url("../img/slider-button-hover.svg");
  border: 2px solid @main-color;
}

.slider__resizer:hover {
  background-color: @main-color;
}

.slider__resizer:active::after {
  background-image: url("../img/slider-button-hover.svg");
  border: 2px solid @main-color 0.6;
}

.slider__resizer:active {
  background-color: @main-color;
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .slider {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }

  .slider__before {
    width: 560px;
    height: 512px;
  }

  .slider__after {
    width: 560px;
    height: 512px;
  }
}
